.SelectionPanel {
  position: absolute;
  background-color: inherit;
}

.SelectionPanelHeading {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #1e224d;
  color: white;
}
