.SelectionPanel {
  position: absolute;
  background-color: inherit;
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.SelectionPanelHeading {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #1e224d;
  color: white;
}
